html {
    cursor: url("/static/img/stick.png"), auto;
}

body {
    background-color: aliceblue;
    border: 4rem solid #ffe037;
    border-radius: 50px;
    font-family: roboto, sans-serif;
    font-variant: small-caps;
}

hr {
    background-color: blue;
    height: 0.5rem;
    border: 0;
    margin: 0 -1rem 0 -1rem;
}
hr.blue {
    background-color: blue;
}
hr.red {
    background-color: red;
}

button {
    cursor: url("/static/img/stick.png"), auto;
    border: 1px solid darkslategray;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px black;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    font-variant: small-caps;
    font-family: roboto, sans-serif;
}

.h5-small {
    font-size: small;
    font-weight: 700;
}

/* CONTENT */
.main-content {
    border: 1rem solid aliceblue;
    border-radius: 1rem;
    margin: -1rem;
}

.belt-holder-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    & > .belt-holder-details {
        width: min-content;
        flex: 1 1 0;
        min-width: 0;
        margin: 0 1rem;
        .belt-path-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            &  > .belt-path {
                width: 100%;
                & > .games-row {
                    overflow-x: auto;
                    width: 100%;
                }
            }
        }
    }
    & > .belt-holder > h4 {
        margin-top: -0.15rem;
        text-align: center;
    }
    & > .belt-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min-content;
        flex: 0 1 auto;
        margin: 1rem 1rem 0 1rem;
    }
    & > .belt-next-bout {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min-content;
        flex: 0 1 auto;
    }
}

.game-score {
    font-weight: 700;
    font-size: small;
    margin-bottom: 0;
}

#teams-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & > .teams-tabs {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        float: left;
    }
    .tab-button {
        display: flex;
        align-items: center;
        width: 12rem;
        padding: 1rem;
        font-size: large;
        border: 4px solid #ffe037;
        background-color: rgb(210, 218, 223);
        outline: none;
        box-shadow: none;
        margin-top: 1rem;
        margin-bottom: 0;
        z-index: 9;
        &:hover {
            background-color: #ffe037;
        }
    }
    .tab-button.active {
        border-bottom: 4px solid aliceblue;
        background-color: aliceblue;
    }
    & > #teams-container {
        border: 4px solid #ffe037;
        border-radius: 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        margin-top: -0.25rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }
}

.team-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.team-shortest-path {
    overflow-x: auto;
    margin-bottom: 1rem;
}

.games-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.game-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid darkgray;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.5rem;
    width: 8rem;
    min-width: 8rem;
    & > .game-versus {
        font-weight: 400;
    }
    & > .game-date {
        color: darkslategray;
        font-size: small;
        margin: -0.4rem;
    }
    &.on-shortest-path {
        border: 3px solid blue;
    }
}
.game-versus {
    font-size: x-small;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    width: 100%;
    justify-content: space-around;
    & > .matchup > .small-team-name {
        margin-top: -1px;
        margin-bottom: -1px;
        font-size: x-small;
        justify-content: center;
        display: flex;
        &.winner {
            font-weight: 700;
        }
    }
}

.team {
    filter: drop-shadow(1px 1px 0.15rem black) contrast(50%);
    &.belt-holder {
        filter: drop-shadow(1px 1px 0.15rem rgb(196, 166, 0));
    }
}
.team-logo-icon {
    width: 2rem;
}
.team-logo {
    width: 4rem;
}
