html {
    cursor: url("/static/img/stick.png"), auto;
}

body {
    background-color: aliceblue;
    border: 4rem solid #ffe037;
    border-radius: 50px;
    font-family: roboto, sans-serif;
    font-variant: small-caps;
}

hr {
    background-color: blue;
    height: 0.5rem;
    border: 0;
    margin: 0 -1rem 0 -1rem;
}
hr.blue {
    background-color: blue;
}
hr.red {
    background-color: red;
}

button {
    cursor: url("/static/img/stick.png"), auto;
    border: 1px solid darkslategray;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px black;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    font-variant: small-caps;
    font-family: roboto, sans-serif;
}

.h5-small {
    font-size: small;
    font-weight: 700;
}

/* CONTENT */
.main-content {
    border: 1rem solid aliceblue;
    border-radius: 1rem;
    margin: -1rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 1rem;
}
.belt-holder-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.belt-holder-info > .belt-holder > h4 {
    margin-top: -0.15rem;
}
.belt-holder-info > .belt-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}

.belt-holder-info > .belt-holder-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.belt-holder-details > .game-content {
    margin: 0;
}

.team-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.team-shortest-path {
    overflow-x: scroll;
    margin-bottom: 1rem;
}

.games-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

/* .games-path > .pre-game {
    align-items: center;
    width: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: center;
}

.games-path > .pre-game > p {
    flex: auto;
} */
.game-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid darkgray;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.5rem;
    width: 8rem;
    min-width: 8rem;
}
.game-content.on-shortest-path {
    border: 3px solid blue;
}
.game-content > .game-versus {
    font-weight: 400;
}
.game-content > .game-date {
    color: darkslategray;
    font-size: small;
    margin: -0.4rem;
}

.game-versus {
    font-size: x-small;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    width: 100%;
    justify-content: space-around;
}
.game-versus > .matchup > .small-team-name {
    margin-top: -1px;
    margin-bottom: -1px;
    font-size: x-small;
    justify-content: center;
    display: flex;
}

.team {
    filter: drop-shadow(1px 1px 0.15rem black) contrast(50%);
}
.team.belt-holder {
    filter: drop-shadow(1px 1px 0.15rem rgb(196, 166, 0));
}
.team-logo-icon {
    width: 2rem;
}
.team-logo {
    width: 4rem;
}
