html {
    cursor: url("/static/img/stick.png"), auto;
}

body {
    background-color: aliceblue;
    border: 4rem solid #ffe037;
    border-radius: 50px;
}

.main-content {
    border: 1rem solid aliceblue;
    border-radius: 1rem;
    margin: -1rem;
}

.team-shortest-path {
    overflow-x: scroll;
}

.games-row {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

/* .games-path > .pre-game {
    align-items: center;
    width: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: center;
}

.games-path > .pre-game > p {
    flex: auto;
} */

.game-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid darkgray;
    margin-left: 1rem;
    padding: 0.5rem;
    width: 8rem;
}
.game-content.on-shortest-path {
    border: 3px solid blue;
}
.game-content > .game-versus {
    font-weight: 400;
}
.game-content > .game-versus > .team {
    font-weight: 700;
}
.game-content > .game-date {
    color: darkslategray;
}

hr {
    background-color: blue;
    height: 0.5rem;
    border: 0;
    margin: 0 -1rem 0 -1rem;
}
hr.blue {
    background-color: blue;
}
hr.red {
    background-color: red;
}

button {
    cursor: url("/static/img/stick.png"), auto;
}
