
<!-- <div class="pre-game">
    <p class="pre-left">
      {% if game.home_last %}left{% else %}???{% endif %}
    </p>
  {% if game.away_last %}
    <p class="pre-right">right</p>
  {% endif %}
</div> -->
<div class="game-content {{ 'on-shortest-path' if game.on_shortest_path else '' }}">
  <div class="game-versus">
    <div class="matchup">
      {% if game.home == game.belt_holder %}
        <span class="team belt-holder"><img src="https://assets.nhle.com/logos/nhl/svg/{{game.home}}_light.svg" class="team-logo-icon" alt="{{ game.home }} home belt holder" /></span>
      {% elif game.away == game.belt_holder %}
        <span class="team"><img src="https://assets.nhle.com/logos/nhl/svg/{{game.home}}_light.svg" class="team-logo-icon" alt="{{ game.home }} home" /></span>
      {% endif %}
      <p class="small-team-name">{{ game.home }}</p>
    </div>
      vs
    <div class="matchup">
      {% if game.home == game.belt_holder %} 
        <span class="team"><img src="https://assets.nhle.com/logos/nhl/svg/{{game.away}}_light.svg" class="team-logo-icon" alt="{{ game.away }} away" /></span>
      {% elif game.away == game.belt_holder %}
        <span class="team belt-holder"><img src="https://assets.nhle.com/logos/nhl/svg/{{game.away}}_light.svg" class="team-logo-icon" alt="{{ game.away }} away belt holder" /></span>
      {% endif %}
      <p class="small-team-name">{{ game.away }}</p>
    </div>
  </div>
  <div class="game-date">
    {{ game.date_obj }}
  </div>
</div>