
<!-- <div class="pre-game">
    <p class="pre-left">
      {% if game.home_last %}left{% else %}???{% endif %}
    </p>
  {% if game.away_last %}
    <p class="pre-right">right</p>
  {% endif %}
</div> -->
<div class="game-content">
  <div class="game-versus">
    <div class="matchup">
      {% if game.home_score > game.away_score %}
        <span class="team belt-holder">
          <img
            src="https://assets.nhle.com/logos/nhl/svg/{{game.home}}_light.svg"
            class="team-logo-icon"
            alt="{{ game.home }} home belt holder"
            title="{{ game.home }} home belt holder"
          />
        </span>
        <p class="small-team-name winner">{{ game.home }}</p>
      {% elif game.away_score > game.home_score %}
        <span class="team">
          <img
            src="https://assets.nhle.com/logos/nhl/svg/{{game.home}}_light.svg"
            class="team-logo-icon"
            alt="{{ game.home }} home"
            title="{{ game.home }} home"
          />
        </span>
        <p class="small-team-name">{{ game.home }}</p>
      {% endif %}
    </div>
    <p class="game-score">{{ game.home_score }} - {{game.away_score}}</p>
    <div class="matchup">
      {% if game.home_score > game.away_score %} 
        <span class="team">
          <img
            src="https://assets.nhle.com/logos/nhl/svg/{{game.away}}_light.svg"
            class="team-logo-icon"
            alt="{{ game.away }} away"
            title="{{ game.away }} away"
          />
        </span>
        <p class="small-team-name">{{ game.away }}</p>
      {% elif game.away_score > game.home_score %}
        <span class="team belt-holder">
          <img
            src="https://assets.nhle.com/logos/nhl/svg/{{game.away}}_light.svg"
            class="team-logo-icon"
            alt="{{ game.away }} away belt holder"
            title="{{ game.away }} away belt holder"
          />
        </span>
        <p class="small-team-name winner">{{ game.away }}</p>
      {% endif %}
    </div>
  </div>
  <div class="game-date">
    {{ game.date_obj }}
  </div>
</div>