<html>
    <head>
        <title>NHL Title Belt</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script src="/static/htmx.min.js"></script>
    </head>
    <body>
        <div class="main-content">
            <h1>NHL Title Belt</h1>
            <h3>Current Holder</h3>
            <p hx-patch="/belt_holder">{{ belt_holder }}</p>
            <h4>All Teams</h4>
            <div hx-patch="/teams">
                {% for team in teams %}
                    {% include "team.html" %}
                {% endfor %}
            </div>
        </div>
    </body>
</html>