<!DOCTYPE html>

<html>

<head>
  <title>NHL Title Belt</title>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="icon" type="image/x-icon" href="/static/img/stick.png">
  <script src="/static/htmx.min.js"></script>
</head>

<body>
  <div class="main-content">
    <h1>NHL Title Belt {{ season }}</h1>
    <hr class="blue" />
    <h3>Current Belt Holder</h3>
    <div class="content-container">
      <div class="belt-holder-info">
        <div class="belt-holder">
          <img src="https://assets.nhle.com/logos/nhl/svg/{{belt_holder.name}}_light.svg" class="team-logo" alt="{{ belt_holder.value }}" title="{{ belt_holder.value }}" />
          <h4>
            {{ belt_holder.value }}
          </h4>
        </div>
        <div class="belt-holder-details">
          <span class="h5-small">Next Title Bout</span>
          {% with game=next_bout %}
            {% include "game.html" %}
          {% endwith %}
        </div>
      </div>
    </div>
    <hr class="red" />
    <h3>All Teams</h3>
    <div id="teams-list">
      {% for team in teams %}
        {% include "team.html" %}
      {% endfor %}
    </div>
  </div>
</body>

</html>