<!DOCTYPE html>

<html>

<head>
  <title>NHL Title Belt</title>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="icon" type="image/x-icon" href="/static/img/stick.png">
  <script src="/static/htmx.min.js"></script>
</head>

<body>
  <div class="main-content">
    <h1>NHL Title Belt {{ season }}</h1>
    <hr class="blue" />
    <h3>Current Belt Holder</h3>
    <div class="content-container">
      <div class="belt-holder-info">
        <div class="belt-holder">
          <img src="https://assets.nhle.com/logos/nhl/svg/{{belt_holder.name}}_light.svg" class="team-logo" alt="{{ belt_holder.value }}" title="{{ belt_holder.value }}" />
          <h4>
            {{ belt_holder.value }}
          </h4>
        </div>
        <div class="belt-holder-details">
          <div class="belt-path-container">
            <span class="h5-small">Belt Path So Far...</span>
            <div class="belt-path">
              {% with game_list=belt_path, games_complete=true %}
                  {% include "games_row.html" %}
              {% endwith %}
            </div>
          </div>
          <div class="belt-next-bout">
            <span class="h5-small">Next Title Bout</span>
            {% with game=next_bout %}
              {% include "game.html" %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
    <hr class="red" />
    <div id="teams-info" hx-get="/teams" hx-trigger="load delay:100ms" hx-target="#teams-info" hx-swap="innerHTML">
    </div>
  </div>
</body>

</html>