<div class="teams-tabs" role="tablist">
  <button class="tab-button active" aria-selected="true" role="tab" hx-get="/rankings">Current Rankings</button>
  <button class="tab-button" aria-selected="false" role="tab" hx-get="/teams">Next Chance</button>
</div>
<div id="teams-container" role="tabpanel">
  {% for rank in rankings %}
    <div class="team-content">
      <img src="https://assets.nhle.com/logos/nhl/svg/{{rank}}_light.svg" class="team-logo-icon" alt="{{ rank }}" title="{{ rank }}" />
      {{rank}}: {{rankings[rank]}}
    </div>
  {% endfor %}
</div>